.products-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results-count p {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  color: var(--secondaryColor);
  font-weight: 500;
  padding: 20px 0px 0 20px;
  font-family: "Jersey 10", sans-serif;
  margin: 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-auto-rows: 1fr;
}

.products-grid li {
  display: flex;
  flex-direction: column;
}

.products-grid li>* {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.no-products {
  grid-column: 1 / -1;
  text-align: center;
  padding: 60px 20px;
  color: var(--secondaryColor);
}

.no-products p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
  }

  .results-count p {
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding: 15px 0px 0 15px;
  }


}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 575px) {
  .results-count p {
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    padding: 10px 0px 0 10px;
  }

}

@media (max-width:365px) {
  .results-count p {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    padding: 15px 0px 0 5px;
  }

  .products-content {
    gap: 10px;
  }

  .products-grid {
    gap: 15px;
  }

}
