.dashboard {
  display: flex;
  min-height: calc(100vh - 90px);
  background-color: #fff;
  font-family: "Jersey 10", sans-serif;
}
.dashboard-content {
  flex: 1;            
  padding: 20px;
  overflow: auto;
}

.dashboard-sidebar {
  width: 240px;
  background-color: var(--whityColor);
  padding: 30px 20px;
  border-right: 2px solid var(--warmyColor);
}
.dashboard-sidebar h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--mainColor);
  text-align: center;
}

.dashboard-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-sidebar nav li {
  margin-bottom: 15px;
}

.dashboard-sidebar button {
  width: 100%;
  padding: 12px 15px;
  background-color: transparent;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.dashboard-sidebar button:hover {
  background-color: var(--maintGreen);
}

.dashboard-sidebar button.active {
  background-color: var(--mainColor);
  color: #fff;
}