.favourites-page {
  min-height: 550px;
  padding: 20px 20px;
  background-color: var(--whityColor);
  display: flex;
  justify-content: center;
}

.favourites-page .favourites-container {
  width: 100%;
  max-width: 1000px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.favourites-page .favourites-title {
  font-size: 2rem;
  color: var(--mainColor);
  text-align: center;
  font-family: "Jersey 10", sans-serif;
}

.favourites-page .empty-favourites {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondaryColor);
  font-family: "Jersey 10", sans-serif;
  letter-spacing: 2px;
}

.favourites-page .favourites-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
}

.favourites-page .favourite-item {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px;
  border-radius: 12px;
  background: var(--whityColor);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.favourite-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.favourite-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.favourite-details h3 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--mainColor);
  margin-bottom: 0px;
}

.favourite-details .favourite-price {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--secondaryColor);
  margin-bottom: 0px;
}

.favourite-details .favourite-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 3px;
}

.favourite-details .favourite-actions .view-btn,
.remove-btn,
.cart-btn {
  padding: 7px 16px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
  border: none;
  color: white;
}

.favourite-details .favourite-actions .view-btn {
  background: var(--mainColor);
  text-decoration: none;
}

.favourite-details .favourite-actions .remove-btn {
  background-color: #8b3c3c;
}

.favourite-details .favourite-actions .cart-btn {
  background: #8b653c;
}

.favourite-details .favourite-actions .view-btn:hover,
.favourite-details .favourite-actions .remove-btn:hover,
.favourite-details .favourite-actions .cart-btn:hover {
  transform: translateY(-2px);
  color: var(--warmyColor);
}

.favourite-details .favourite-actions .view-btn:hover {
  background: var(--secondaryColor);
}

.favourite-details .favourite-actions .remove-btn:hover {
  background-color: #4a1919;
}

.favourite-details .favourite-actions .cart-btn:hover {
  color: var(--whityColor);
  border-color: var(--mainColor);
}


@media (max-width: 550px) {
  .favourite-item {
    flex-direction: column;
    text-align: center;
    padding: 15px;
    gap: 20px;
  }

  .favourite-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .favourite-details h3 {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  .favourite-actions {
    justify-content: center;
  }

  .favourite-details .favourite-actions .view-btn,
  .favourite-details .favourite-actions .remove-btn,
  .favourite-details .favourite-actions .cart-btn {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .favourites-page {
    padding: 25px 10px;
  }

  .favourites-container {
    padding: 18px;
  }

  .favourite-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .favourite-details .favourite-actions .view-btn,
  .favourite-details .favourite-actions .remove-btn,
  .favourite-details .favourite-actions .cart-btn {
    padding: 7px 16px;
    width: 100%;
  }
}