.my-orders {
    padding: 10px 15px;
}

.my-orders h2 {
    font-size: 1.8rem;
    padding: 15px 10px;
    margin: 0;
}

.orders-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.order-card {
    background: var(--whityColor);
    border-radius: 15px;
    padding: 15px;
    border: 2px solid var(--warmyColor);
    transition: transform 0.3s, box-shadow 0.3s;
}

.order-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1rem;
}

.order-status {
    padding: 5px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
}

.paid {
    background: var(--maintGreen);
    color: var(--mainColor);
}

.unpaid {
    background: #f3b5b5;
    color: #7a0000;
}

.order-info {
    margin-bottom: 12px;
}

.order-info p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.order-items {
    border-top: 1px dashed var(--warmyColor);
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order-item {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
}

.order-item img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--warmyColor);
}

.order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    min-width: 120px;
}

.order-item-details p {
    font-size: 0.85rem;
    margin: 0;
}

.no-orders {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .my-orders {
        padding: 5px 10px;
    }

    .my-orders h2 {
        font-size: 1.6rem;
        padding: 10px;
    }

    .orders-container {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }


    .order-status {
        padding: 4px 10px;
        font-size: 0.8rem;
    }

    .order-item {
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .order-card {
        padding: 12px;
    }

    .order-item img {
        width: 60px;
        height: 60px;
    }

    .order-item-details {

        min-width: 0;
        max-width: 100%;
    }

    .order-item-details p {
        font-size: 0.75rem;
        word-break: break-word;
        overflow-wrap: break-word;
    }


    .order-item-details .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}