.product-details-page {
  width: 90%;
  /* max-width: 1100px; */
  margin: 10px auto;
  padding: 15px;
  background-color: var(--whityColor);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Jersey 10", sans-serif;
  color: var(--mainColor);
}

.product-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

.main-image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.main-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  background: #f9f9f9;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.85;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.gallery img.active {
  border: 2px solid var(--maintGreen);
  opacity: 1;
}

.product-info {
  flex: 1 1 min(100%, 600px);
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 30px;
  justify-content: space-around;
}

.product-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.product-info h1 {
  font-size: 2.7rem;
  letter-spacing: 2px;
  white-space: nowrap;
  margin: 0;
}

.product-header .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.category {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: var(--secondaryColor);
  margin: 0;
  white-space: nowrap;
}

.prices {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #888;
  text-decoration: line-through;
  white-space: nowrap;
  margin: 0;
}

.product-priceAfterDiscount {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--mainColor);
  white-space: nowrap;
  margin: 0;
}

.category-desc {
  font-size: 1.1rem;
  font-family: system-ui;
  color: var(--secondaryColor);
  margin: 0;
  line-height: 2.8;
}

.product-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
}

.product-actions button {
  flex: 1;
  padding: 8px;
  font-size: 1.5rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  letter-spacing: 1px;
  font-weight: 500;
}

.fav-btn {
  background: var(--mainColor);
  color: white;
}

.cart-btn {
  background: #8b653c;
  color: var(--whityColor);
  color: white;
}

.product-actions button:hover {
  /* background: var(--secondaryColor); */
  color: var(--whityColor);
  transform: translateY(-2px);
}

.product-details-loading {
  text-align: center;
  padding: 60px 0;
  color: var(--secondaryColor);
}

@media (max-width:1250px) {
  .product-details-container {
    gap: 25px;
  }

  .main-image-wrapper {
    max-width: 450px;
  }

  .product-images {
    gap: 20px;
  }

  .product-info {
    margin-bottom: 10px;
    gap: 10px;
  }

  .category {
    font-size: 2rem;
  }

  .product-header {
    gap: 10px;
    margin-top: 0px;
  }

  .category-desc {
    font-size: 1.2rem;
    line-height: 1.9;
  }

  .product-actions {
    margin-top: 10px;
  }

  .product-actions button {
    padding: 7px;
    font-size: 1.4rem;
  }
}

@media (max-width:1050px) {

  .product-details-container {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .product-images {
    width: 100%;
  }

  .main-image-wrapper {
    width: 100%;
    max-width: 500px;
  }

}

@media (max-width:500px) {
  .product-details-page {
    margin: 10px auto;
    padding: 10px;
  }

  .prices {
    padding: 0 20px;
    gap: 15px;
  }

  .product-actions {
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
  }

}

@media (max-width:380px) {
  .product-info h1 {
    font-size: 2.3rem;
    letter-spacing: 2px;
  }

  .category {
    font-size: 1.5rem;
  }


  .product-price {
    font-size: 1.3rem;
  }

  .product-priceAfterDiscount {
    font-size: 1.5rem;
  }
}