.profile-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background-color: var(--whityColor);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  font-family: "Jersey 10", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-page h1 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--mainColor);
}

.profile-info img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 25px;
  border: 3px solid var(--warmyColor);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}

label {
  font-size: 1rem;
  color: var(--mainColor);
  padding: 5px 10px;
}

.profile-page input[type="text"],
.profile-page select {
  padding: 12px 14px;
  border: 2px solid var(--warmyColor);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  transition: 0.25s ease;
}

.profile-page input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px;

  border: 2px dashed var(--warmyColor);
  border-radius: 12px;
  background-color: #f8f8f8;
  color: black;

  cursor: pointer;
  transition: all 0.3s ease;
}

.file-upload:hover {
  border-color: var(--mainColor);
  background-color: var(--whityColor);
  color: var(--mainColor);
}

.file-upload:active {
  transform: scale(0.98);
}

.profile-page input:focus {
  border-color: var(--mainColor);
  background-color: var(--maintGreen);
  outline: none;
}

.profile-page select:focus {
  border-color: var(--mainColor);
  outline: none;
}

.profile-page button[type="submit"] {
  padding: 14px;
  font-size: 1.2rem;
  background-color: var(--maintGreen);
  color: var(--mainColor);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

.profile-page button[type="submit"]:hover {
  background-color: var(--secondaryColor);
  color: #fff;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.profile-page hr {
  border: none;
  height: 2px;
  background-color: var(--warmyColor);
}

.profile-page nav button {
  display: block;
  margin: 0 auto;
  padding: 12px 35px;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  cursor: pointer;
  transition: 0.3s ease;
}

.profile-page nav button:hover {
  background-color: var(--mainColor);
  color: #fff;
}

@media (max-width: 1000px) {
  .profile-page {
    margin: 15px;
  }
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .full-width {
    grid-column: span 1;
  }
}

@media (max-width: 480px) {
  .profile-page {
    padding: 15px;
    gap: 3px;
  }

  form-grid {
    gap: 8px;
  }

  .profile-page h1 {
    font-size: 1.6rem;
  }

  .profile-info img {
    display: block;
    width: 135px;
    height: 135px;
  }

  label {
    font-size: 0.9rem;
    padding: 3px 8px;
  }

  .profile-page input[type="text"],
  .profile-page select {
    padding: 10px 8px;
    font-size: 0.9rem;
    height: 40px;
    letter-spacing: 1.2px;
  }

  .profile-page button[type="submit"] {
    padding: 12px;
    font-size: 1.1rem;
  }

  .profile-page nav button {
    padding: 10px 28px;
    font-size: 1.1rem;
  }

}



@media (max-width: 350px) {
  .profile-page {
    padding: 10px;
  }

  .profile-page h1 {
    font-size: 1.4rem;
  }

  .profile-info img {
    display: block;
    width: 120px;
    height: 120px;
  }

  label {
    font-size: 0.9rem;
    padding: 3px 8px;
  }

  .profile-page input[type="text"],
  .profile-page select {
    padding: 10px 8px;
    font-size: 0.9rem;
    height: 40px;
    letter-spacing: 1.2px;
  }

  .profile-page button[type="submit"] {
    padding: 12px;
    font-size: 1.1rem;
  }

  .profile-page nav button {
    padding: 10px 28px;
    font-size: 1.1rem;
  }

}